<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>学生编号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>班级号</td>
        <td>操作</td>
    </tr>
    <tr th:each="s :${stulist}">
        <td th:text="${s.id}">学生编号</td>
        <td th:text="${s.sname}">姓名</td>
        <td th:text="${s.age}">年龄</td>
        <td th:text="${s.cls.cname}">班级</td>
        <td ><a th:href="|/stu/deleteById?id=${s.id}|">删除</a>
            <a href="/stu/queryById">修改</a>
            <a href="/stu/add">添加</a>
        </td>
    </tr>
</table>
</body>
</html>